* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Imagenes/fondo-login4.png);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-container {
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
}

.title-container p {
    margin-top: 3px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    background: rgb(255, 211, 57);
    padding: 4%;
    margin: 70px auto 100px auto;
    display: block;
    box-sizing: content-box;
    overflow: hidden;
    border: 17px solid rgb(255, 211, 57);
    border-radius: 5%;
}


.slide-content {
    display: flex;
    gap: 30px;
    width: 20%;
    justify-content: flex-start;
}

.card {
    border-radius: 25px;
    background: rgb(255, 240, 184);
    width: 320px;
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    row-gap: 5px;
    position: relative;
    padding: 30px 0;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: black

}

.overlay::after{
    border-radius: 0 25px 0 0;
    background: rgb(255, 240, 184);
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rgb(255, 211, 57);
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px black;
}

.name {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: black;
    padding: 8px 16px;
    background-color: rgb(248, 203, 40);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: black;
    color: rgb(248, 203, 40);
}

